* {
  box-sizing: border-box;
  border: none;
}

body {
  height: 100vh;
  background-color: #fff;
  overflow: hidden;
  background-color: #ac1717;
}

.page-container {
  display: flex;
}

.left-section,
.right-section,
.weather-details,
.weather-detail-box,
.weather-synopsis {
  display: flex;
  flex-direction: column;
}

.left-section,
.right-section {
  padding: 2rem;
  padding: 20px;
  height: 100%;
}

.left-section {
  max-width: 40vw;
  background-color: #fff;
}

.right-section {
  background-color: #efefef;
}

.search-form {
  background-color: #efefef;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  border-radius: 2rem;
  padding: 0 10px 0 10px;
  cursor: pointer;

  &:focus {
    outline: #748cf1;
  }
}

.search-form input {
  background: none;
  width: 100%;
  border-radius: 8px;
  border-radius: 8px 0 0 8px;
  font-size: 20px;
  padding: 5px;

  &:focus {
    outline: none;
  }
}

.search-form button {
  color: #748cf1;
  padding: 3px;
  border-radius: 0 8px 8px 0;
}

.right-section {
  max-width: 100vw;
  gap: 2rem;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.weather-details{
  gap: 2rem;
}

.weather-detail-box {
  width: 100%;
  border: 1px solid #efefef;
  background-color: #748cf1;
  text-align: left;
  color: #fff;
  border-radius: 10px;
  margin: 0 auto;
}

.title,
.text {
  color: #dcd9d9;
}

.row span {
  font-size: 1.5rem;
}

img {
  width: 100%;
}

hr {
  height: 5px;
  width: 29vw;
  background-color: #cfcccc;
  border: 1px solid #cec6c6;
  border-radius: 2rem;
}

.weather-synopsis {
  width: 100%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
