@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Playfair+Display:ital@1&family=Quicksand&display=swap");

* {
  box-sizing: border-box;
  border: none;
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --black: #212529;
  --white: #fff;
  --blue: #007bff;
  --blue-dark: #056ad5;
  --cream-white: #efefef;
  --purple: #748cf1;
}

.loader-container{
  background-color: #2c3e50;
  position: absolute;
  z-index: 99999;
  height: 100%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: animloader 1s linear infinite;
}

@keyframes animloader {
  0% {
    box-shadow: -72px 0 #FFF inset;
  }
  100% {
    box-shadow: 48px 0 #FFF inset;
  }
}

/* Alert */

.alert {
  background-color: #2ecc71;
  color: #fff;
  display: flex;
  width: 40%;
  position: absolute;
  z-index: 999;
  top: 10%;
  left: 30%;
  align-items: center;
  border: 2px solid #309e5e;
  border-radius: 10px;
  box-shadow: 0px 0px 14px 0px #0c3d1cb3;
  overflow: hidden;
  transition: top 1s ease-in-out;
}

.alert .close-btn {
  margin-left: auto;
  font-size: 20px;
  cursor: pointer;
  background-color: rgb(180, 96, 96);
}

.alert .alert-body,
.alert .close-btn {
  padding: 15px 20px;
}

.show {
  top: -90%;
}

body {
  font-size: 1rem;
  font-weight: 400;
  color: var(--black);
}

main,
.page-container {
  width: 100%;
  height: fit-content;
}

.page-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: start;
}

.left-section,
.right-section {
  padding: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* LEFT SECTIONS STARTS HERE */

.left-section {
  flex: 1;
  background-color: var(--white);
  align-items: center;
}

/* search-bar */

.search-form {
  background-color: #efefef;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  padding: 0 10px;
  cursor: pointer;

  &:focus {
    color: #748cf1;
    outline: 2px solid #748cf1;
  }
}

.search-form input {
  position: relative;
  width: 100%;
  padding: 15px 35px 15px 15px;
  background-color: #efefef;
  border: 0;
  outline: 2px solid transparent;
  border-radius: 20px;
  transition: all 0.4s ease-in-out;
}

.search-form button {
  color: var(--purple);
  padding: 3px;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
}
/* search form end here */

/* weather-synopsis start here */

.weather-synopsis {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0 0 40px;
}

.weather-synopsis img {
  width: 150px;
}

.weather-synopsis .temperature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 1rem; */
}

.temperature #unit {
  font-size: 40px;
}

.temperature > p {
  font-size: 55px;
}

.temperature > p + p {
  font-size: 20px;
}

.left-section hr {
  width: 250px;
  height: 3px;
  background-color: #efefef;
  border-radius: 10px;
}

/* weather-synopsis ends here */

.left-section .weatherdate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 20px;
}

.location {
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
  /* margin: 2rem; */
}

/* ***LEFT SECTION ENDS HERE | RIGHT SECTION STARTS HERE*** */

.right-section {
  flex: 2.5;
  justify-content: start;
  gap: 1rem;
  background-color: #efefef;
  width: 100%;
}

.right-section .days {
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
  width: fit-content;
}

.right-section .days span {
  cursor: pointer;
  color: #8c8c8c;

  &.active {
    color: #748cf1;
    font-size: 25px;
  }
}

/* weather-details section starts here */

.right-section .weather-details {
  width: 100%;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 3rem 1rem;
  padding: 1rem 0;
}

.weather-details .box {
  background-color: var(--purple);
  color: #fff;
  height: fit-content;
  min-height: 130px;
  width: min(100%, 2230px);
  margin: 0 auto;
  padding: 20px;
  border-radius: 20px;
  align-self: flex-start;
}

.weather-details .box .title {
  color: #eaeaea;
}

.weather-details .box .value {
  font-size: 30px;
}

/* weather-details section ends here */

.right-section .dev-detail {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  margin: 0 auto;
}

a {
  color: var(--blue-dark);
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    color: var(--blue);
    text-decoration: underline;
  }
}

@media only screen and (max-width: 980px) {
  .page-container {
    flex-direction: column;
    flex-wrap: wrap;

    .left-section {
      width: 100%;
    }

    .right-section .weather-details {
      grid-template-columns: 1fr;

      .box {
        width: 100%;
      }
    }
  }
}
