@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Playfair+Display:ital@1&family=Quicksand&display=swap");

* {
  box-sizing: border-box;
  border: none;
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --black: #212529;
  --white: #fff;
  --blue: #007bff;
  --blue-dark: #056ad5;
  --cream-white: #efefef;
  --purple: #748cf1;
}

/* .loader-container{
  background-color: #2c3e50;
  position: absolute;
  z-index: 99999;
  height: 100%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
} */

/* .loader-container,
.left-section,
.right-section,
.search-form input,
.weather-detail-box,
.weather-synopsis,
.row,
img {
  width: 100%;
} */

/* .loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: animloader 1s linear infinite;
}

@keyframes animloader {
  0% {
    box-shadow: -72px 0 #FFF inset;
  }
  100% {
    box-shadow: 48px 0 #FFF inset;
  }
} */

body {
  font-size: 1rem;
  font-weight: 400;
  color: var(--black);
  background-color: aqua;
  /* background-color: var(--white); */
  height: 100%;
}

a {
  color: var(--blue-dark);
  text-decoration: none;
  background-color: transparent;

  &:hover {
    color: var(--blue);
    text-decoration: underline;
  }
}

.page-container {
  display: flex;
  width: 100%;
  padding-right: 0 15px;
  margin-right: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: 0 -15px;
}

.left-section,
.right-section {
  padding: 20px;
  height: 100%;
}

.search-form,
.right-section {
  background-color: #efefef;
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  border-radius: 2rem;
  padding: 0 10px;
  cursor: pointer;

  &:focus {
    color: #748cf1;
    outline: 2px solid #748cf1;
  }
}

.search-form input {
  position: relative;
  width: 100%;
  padding: 15px 35px 15px 15px;
  background-color: #efefef;
  border: 0;
  outline: 2px solid transparent;
  border-radius: 20px;
  transition: all 0.4s ease-in-out;
}

.search-form button {
  color: var(--purple);
  padding: 3px;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
}

.left-section{
  background-color: var(--white);
  height: 100%;
}

.left-section .weather-synopsis{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.left-section .weather-synopsis img {
  width: 150px;
  text-align: center;
  display: block;
  margin: 0 auto;
  padding: 30px 0;
}

.left-section .weather-synopsis .temperature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.left-section .temperature #unit {
  font-size: 40px;
}

.left-section .temperature p {
  margin-bottom: 0;
  padding-bottom: 0;
}

.left-section .temperature > p {
  font-size: 55px;
}

.left-section .temperature > p + p {
  font-size: 20px;
  margin-left: -20px;
}

.left-section hr {
  width: 250px;
  border: 2px solid #efefef;
  border-radius: 10px;
  margin-bottom: 40px;
}

.left-section .weatherdate{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 20px;
}

.location{
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
  margin: 2rem;
}

.right-section .day {
  margin-bottom: 30px;

  span {
    font-size: 20px;
    cursor: pointer;
    color: #8c8c8c;
  }
}

.right-section .day .tomorrow {
  margin-left: 20px;
}

.right-section .day .active {
  color: #748cf1 !important;
  font-size: 25px !important;
}

.right-section .weather-details{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.right-section .weather-details .row{
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.right-section .weather-details .weather-detail-box {
  min-height: 200px;
  min-width: 2000;
  background-color: var(--purple);
  color: #fff;
  padding: 20px;
  border-radius: 20px;
}

.right-section .weather-detail-box p {
  margin: 0;
}
.right-section .weather-detail-box .title {
  color: #eaeaea;
}
.right-section .weather-detail-box .value {
  font-size: 30px;
}
